.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F15A29;
    background-color: #F15A29;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.row {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.hour {
  text-align: center;
  padding: 20px;
}
.party {
  text-align: center;
  background-color: #F15A29;
  padding: 20px;
}

.fast {
  padding: 0;
  margin: 0;
  background-image: url("../img/breakfast.jpg");
  background-size: cover;
}

.breakfast {
max-height: 100%;
max-width: 100%;
text-align: center;
margin-top: 10px;
padding: 63px;

}

.lun {
  padding: 0;
  margin: 0;
  background-image: url("../img/lunch.jpg");
  background-size: cover;
}

.lunch{
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 63px;
}
.din{
  padding: 0;
  margin: 0;
  background-image: url("../img/dinner.jpg");
  background-size:cover;

}

.dinner{
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 63px;
}

.jumbotron{
  text-align: center;
  background-image: url(../img/landing.jpg);
  background-attachment: fixed;
}

.chicken Burger{
  background-image: url(../img/chicken burger.jpg);
  background-size: cover;
  height:180px;
  width:235px;
}
button{
  border-color:#F15A29;
  background-color: white;
  padding: 10px;
  border-radius: 2rem;
  font-stretch:#F15A29;
}
.drink{
  padding: 0;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
}
.drunk{
  padding: 0;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
}
.mymedia{
padding: 0;
height: 600px;
width:100%;
background-image: url(../images/foodsBg.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
